$red: hsl(0, 75%, 50%) !default;
$orange: hsl(39, 75%, 50%) !default;
$yellow: hsl(60, 75%, 50%) !default;
$green: hsl(120, 75%, 50%) !default;
$blue: hsl(197, 75%, 50%) !default;

$white: hsl(0, 0%, 100%) !default;
$light: hsl(0, 0%, 90%) !default;
$light-gray: hsl(0, 0%, 50%) !default;
$gray: hsl(0, 0%, 20%) !default;
$dark: hsl(0, 0%, 15%) !default;
$black: hsl(0, 0%, 10%) !default;

$primary: $blue !default;
$secondary: $blue !default;
