@use 'sass:color';

.button {
  padding: 0.4em 1.2em;
  outline: none;
  border: 0.15rem solid $primary;
  background-color: $primary;
  color: color-contrast($primary);
  font-size: 0.8rem;
  font-weight: 300;
  transition: all 100ms ease;
  cursor: pointer;
  &:hover,
  &:focus {
    border: 0.15rem solid lighten($primary, 15%);
    background-color: lighten($primary, 15%);
  }
  &:active {
    border: 0.15rem solid darken($primary, 10%);
    background-color: darken($primary, 10%);
    color: color-contrast(darken($primary, 10%));
  }
}

// Colors

.button.is-white {
  border: 0.15rem solid $white;
  background-color: $white;
  color: color-contrast($white);
  &:hover,
  &:focus {
    border: 0.15rem solid lighten($white, 15%);
    background-color: lighten($white, 15%);
    color: color-contrast(lighten($white, 15%));
  }
  &:active {
    border: 0.15rem solid darken($white, 10%);
    background-color: darken($white, 10%);
    color: color-contrast(darken($white, 10%));
  }
}

.button.is-gray {
  border: 0.15rem solid $gray;
  background-color: $gray;
  color: color-contrast($gray);
  &:hover,
  &:focus {
    border: 0.15rem solid lighten($gray, 15%);
    background-color: lighten($gray, 15%);
    color: color-contrast(lighten($gray, 15%));
  }
  &:active {
    border: 0.15rem solid darken($gray, 10%);
    background-color: darken($gray, 10%);
    color: color-contrast(darken($gray, 10%));
  }
}

.button.is-red {
  border: 0.15rem solid $red;
  background-color: $red;
  color: color-contrast($red);
  &:hover,
  &:focus {
    border: 0.15rem solid lighten($red, 15%);
    background-color: lighten($red, 15%);
    color: color-contrast(lighten($red, 15%));
  }
  &:active {
    border: 0.15rem solid darken($red, 10%);
    background-color: darken($red, 10%);
    color: color-contrast(darken($red, 10%));
  }
}

.button.is-orange {
  border: 0.15rem solid $orange;
  background-color: $orange;
  color: color-contrast($orange);
  &:hover,
  &:focus {
    border: 0.15rem solid lighten($orange, 15%);
    background-color: lighten($orange, 15%);
    color: color-contrast(lighten($orange, 15%));
  }
  &:active {
    border: 0.15rem solid darken($orange, 10%);
    background-color: darken($orange, 10%);
    color: color-contrast(darken($orange, 10%));
  }
}

.button.is-yellow {
  border: 0.15rem solid $yellow;
  background-color: $yellow;
  color: color-contrast($yellow);
  &:hover,
  &:focus {
    border: 0.15rem solid lighten($yellow, 15%);
    background-color: lighten($yellow, 15%);
    color: color-contrast(lighten($yellow, 15%));
  }
  &:active {
    border: 0.15rem solid darken($yellow, 10%);
    background-color: darken($yellow, 10%);
    color: color-contrast(darken($yellow, 10%));
  }
}

.button.is-green {
  border: 0.15rem solid $green;
  background-color: $green;
  color: color-contrast($green);
  &:hover,
  &:focus {
    border: 0.15rem solid lighten($green, 15%);
    background-color: lighten($green, 15%);
    color: color-contrast(lighten($green, 15%));
  }
  &:active {
    border: 0.15rem solid darken($green, 10%);
    background-color: darken($green, 10%);
    color: color-contrast(darken($green, 10%));
  }
}

.button.is-blue {
  border: 0.15rem solid $blue;
  background-color: $blue;
  color: color-contrast($blue);
  &:hover,
  &:focus {
    border: 0.15rem solid lighten($blue, 15%);
    background-color: lighten($blue, 15%);
    color: color-contrast(lighten($blue, 15%));
  }
  &:active {
    border: 0.15rem solid darken($blue, 10%);
    background-color: darken($blue, 10%);
    color: color-contrast(darken($blue, 10%));
  }
}

// Sizes

.button.is-small {
  font-size: 0.7rem;
}

.button.is-large {
  font-size: 1.1rem;
}

// State

.button.is-outline {
  background-color: hsla(0, 0%, 0%, 0);
  color: $primary;
  &:hover,
  &:focus {
    background-color: $dark;
    color: lighten($primary, 15%);
  }
  &:active {
    background-color: $dark;
    color: darken($primary, 15%);
  }
}

.button.is-icon {
  margin: 0;
  padding: 0.3em;
}
