@use 'sass:color';

label.checkbox {
  padding: 0.4em 0.7em;
  border-top: 3.5px solid $light-gray;
  border-bottom: 0.18125rem solid $light-gray;
  font-size: 0.8rem;
  background-color: $light-gray;
  color: $white;
  outline: none;
  transition: all 200ms ease;
  cursor: pointer;
  input[type='checkbox'] {
    outline: none;
    margin-right: 0.4em;
  }
  input[type='checkbox']:focus {
    outline: 1px solid $white;
  }
}
