@use 'sass:color';

.input {
  display: block;
  padding: 0.4em 0.7em;
  border: 0.15rem solid $light-gray;
  background-color: $light-gray;
  color: $white;
  font-size: 0.8rem;
  outline: none;
  transition: all 200ms ease;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  &:focus {
    border: 0.15rem solid $light-gray;
    background-color: lighten($primary, 45%);
    color: $black;
    transition: all 200ms ease;
  }
}
