@use 'sass:color';

label.radio {
  display: inline-block;
  padding: 0.4em 0.7em;
  border-top: 1px solid $light-gray;
  font-size: 0.8rem;
  background-color: $light-gray;
  color: $white;
  outline: none;
  transition: all 200ms ease;
  cursor: pointer;
  &:focus {
    background-color: lighten($light-gray, 45%);
    color: $black;
    transition: all 200ms ease;
  }
}

input.radio {
  outline: none;
}
