.select {
  position: relative;
  width: min-content;
  &::after {
    content: '';
    position: absolute;
    top: 0.6rem;
    right: 0.8rem;
    width: 0.5rem;
    height: 0.5rem;
    border-width: 0 2px 2px 0;
    border-color: $white;
    border-style: solid;
    transform: rotate(45deg);
    pointer-events: none;
  }
}

select {
  display: block;
  padding: 0.4em 50px 0.4em 10px;
  border: 0.15rem solid $light-gray;
  background-color: $light-gray;
  color: $white;
  font-size: 0.8rem;
  outline: none;
  appearance: none;
  cursor: pointer;
  &:focus {
    border: 0.15rem solid lighten($light-gray, 45%);
    background-color: lighten($light-gray, 45%);
    color: $black;
    transition: all 200ms ease;
  }
}

select:disabled {
  cursor: not-allowed;
}
