// text

.text-red {
  color: $red;
}
.text-orange {
  color: $orange;
}
.text-yellow {
  color: $yellow;
}
.text-green {
  color: $green;
}
.text-blue {
  color: $blue;
}
.text-white {
  color: $white;
}
.text-light {
  color: $light;
}
.text-light-gray {
  color: $light-gray;
}
.text-gray {
  color: $gray;
}
.text-dark {
  color: $dark;
}
.text-black {
  color: $black;
}

// background

.bg-red {
  background-color: $red;
}
.bg-orange {
  background-color: $orange;
}
.bg-yellow {
  background-color: $yellow;
}
.bg-green {
  background-color: $green;
}
.bg-blue {
  background-color: $blue;
}
.bg-white {
  background-color: $white;
}
.bg-light {
  background-color: $light;
}
.bg-light-gray {
  background-color: $light-gray;
}
.bg-gray {
  background-color: $gray;
}
.bg-dark {
  background-color: $dark;
}
.bg-black {
  background-color: $black;
}
